body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screenshot {
    margin-bottom: 20px;
}

.screenshot img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}

.download-links a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-links a:hover {
    background-color: #cc0000;
}

section h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.social-links img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.change-page {
    display: flex;
    justify-content: space-around;
}

.change-page a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.change-page a:hover {
    background-color: #cc0000;
}
